

.App {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 40px;
  min-height: 100vh;

  /* Add background */
  background-image: url('https://media.gettyimages.com/id/1437544489/photo/tropical-green-forest-nature-with-clouds.jpg?s=612x612&w=0&k=20&c=XjPf5mvlDL2SbQawaz3xZlg9BO2Kuv0HVWElSUcQh6U=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.hero {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.main-title {
  font-size: 2.8rem;
  color: #333;
  margin-bottom: 20px;
}

.search-box {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1rem;
}

.chatbot-image {
  float: right;
  width: 50%;
  max-width: 50px;
  border-radius:10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
